* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.pading-b-30 {
  padding-bottom: 30px;
}
.pading-l-r-70 {
  padding: 0 150px;
}

/*Header*/

.baner {
  width: 100%;
  height: 700px;
  background-image: url(./img/Baner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 180px;
  position: absolute;
  top: 17px;
  justify-content: space-between;
  padding: 0 150px;
}
.logotechmaster {
  position: relative;
  width: 200px;
  height: 74px;
  object-fit: cover;
}
.navbar {
  display: flex;
  justify-content: space-between;
  height: 36px;
  align-items: center;
  gap: 30px;
  position: relative;
}
.text-wrapper {
  position: relative;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
}
.title {
  position: absolute;
  top: 200px;
  left: 150px;
}
.text-wrapper-2 {
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}
.content-baner p {
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
}
.line-h {
  line-height: 30px;
}
.overlap-button button {
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  background-color: #eed39e;
}

/*Gioi Thieu*/
.title-wrapper {
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #0a5cab;
  font-size: 32px;
  padding: 40px 150px;
}
.box-content {
  width: 100%;
  background-color: #dde2f4;
  padding: 30px 150px;
}
.flex {
  display: flex;
}
.gap-12 {
  gap: 12px;
}
.text-wrapper-w {
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 20px;
}

/*Doi Tuong Hoc Vien*/

.al-item {
  align-items: flex-start;
}
.justify-bet {
  justify-content: space-between;
}
.max-w-50 {
  max-width: 60%;
}

/*Lo Trinh Hoc*/
.flex {
  display: flex;
}
.bg {
  width: 100%;
  height: auto;
  background-color: #dde2f4;
}
.pos-rel {
  position: relative;
}
.img-overlay {
  top: 0;
  left: 0;
  object-fit: cover;
}
.list {
  position: absolute;
  top: 5%;
  left: 40%;
}
.list ul li {
  padding: 30px;
  background-color: rgba(79, 162, 239, 47%);
  margin-bottom: 30px;
  color: #2f5596;
  font-size: 24px;
  font-weight: 600;
  font-family: "Inter", Helvetica;
  border-radius: 20px;
}

.img-info {
  position: absolute;
  bottom: 0;
  left: 0;
}

.frame-10 {
  position: absolute;
  top: 50px;
  left: 150px;
}
.w-content {
  width: 60%;
}
.w-content ul li {
  font-size: 20px;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  border-bottom: 1px solid;
}

.content {
  position: absolute;
  top: 0;
  left: 100%;
  padding: 0 50px;
}

.hidden-content {
  display: none;
}

/*HOC PHI*/

.justify-eve {
  justify-content: space-evenly;
}
.item-price {
  width: 350px;
  height: 450px;
  background-color: #f2f3f7;
  border-radius: 20px;
}

.info-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 55px 0;
}

.title-wrapper-price {
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 32px;
}

.text-price {
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #4fa9fb;
  font-size: 36px;
}
.color-red {
  color: #df1f36;
}
.text-center {
  text-align: center;
}
.line {
  position: absolute;
  width: 186px;
  height: 5px;
  top: 19px;
  left: 8px;
}
.overlap-group-4 {
  position: relative;
  width: 193px;
  height: 57px;
  background-color: #eed29d;
  border-radius: 20px;
}
.btn-price {
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  padding: 20px 0;
}
.opa-0 {
  opacity: 0;
}

/*GIANG VIEN*/
.item-tech {
  background-color: #f2f3f7;
  border-radius: 20px;
  text-align: center;
  margin-right: 50px;
  height: 450px;
}
.ellipse {
  margin: 0 auto;
}

.content-tech {
  padding: 30px 0;
}
.text-tech {
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #2f5596;
  font-size: 24px;
}
.text-wrapper-tech {
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #0f5298;
  font-size: 20px;
}
.tech-info {
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 20px;
}
.item-tech img {
  width: 200px;
  height: 200px;
}

/*NHAN XET*/
.backgroud-student {
  width: 100%;
  background-color: #abd3f7;
  padding: 80px 0px;
}
.item-bg {
  background-color: #dee2f4;
  width: 600px;
  height: 400px;
  padding: 34px 20px;
}
.content-comment {
  padding: 20px 12px;
  font-family: "Italianno", cursive;
  text-align: center;
}
.w-h-img {
  width: 160px;
  height: 286px;
}
.font-s-48 {
  font-size: 48px;
  padding-bottom: 15px;
}
.font-s-32 {
  font-size: 32px;
}
.font-s-20 {
  font-size: 20px;
}
.justify-aro {
  justify-content: space-around;
}
.d-flex {
  display: flex !important;
}
.slick-slide {
  margin-right: 20px !important;
}

/*CAU HOI*/
.list-ques ul li {
  padding: 38px;
  background-color: #f2f3f7;
  margin-bottom: 30px;
  border-radius: 20px;
  font-size: 24px;
  font-family: "Inter", Helvetica;
}
.ques-hiden {
  display: none;
  padding: 20px 0;
}
hr {
  padding: 10px 0;
}

/*TU VAN VIEN*/
.bg-contact {
  background-color: #dee2f4;
  padding: 45px 150px;
}
.title-contact {
  font-size: 24px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
}
.align-center {
  align-items: center;
}
.color-name {
  color: #0f5298;
}
.color-title {
  color: #50a9fc;
}
.text-use {
  font-size: 20px;
  font-weight: 600;
  font-family: "Inter", Helvetica;
}
.p-b-15 {
  padding-bottom: 15px;
}
.text-address {
  font-size: 20px;
  font-family: "Inter", Helvetica;
}
.bg-contact-item {
  background-color: #abd3f7;
  border-radius: 20px;
  padding: 40px;
}
.gap-20 {
  gap: 20px;
}
.bg-contact-item input {
  background-color: #dee2f4;
  border: none;
}
.gap-70 {
  gap: 70px;
}
input {
  width: 100%;
  height: 30px;
}
textarea {
  width: 100%;
  background-color: #dee2f4;
}
.p-b-20 {
  padding-bottom: 20px;
}
.btn-contact button {
  float: right;
  background-color: #eed39e;
  border: none;
  padding: 15px 35px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 600;
}
footer {
  margin-top: 60px;
  background-color: #0d5fae;
  height: 125px;
  justify-content: center;
  align-items: center;
}
footer img {
  width: 200px;
  height: 74px;
}
